# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

#in-development-files
/src/ignore

/echidna-config.yaml

#hardhat
/artifacts
/cache_hardhat
/node_modules
